body {
	background-color: rgb(0, 0, 0);
}

#tips {
	width: 90%;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	margin: 10px auto;
	padding: 10px;
}

#tips div {
	width: 33.3%;
	height: 100px;
	background-color: #fff;
	float: left;
}

#tips div p {
	margin: 5px 0;
	height: 90px;
	background-color: silver;
	color: white;
}

#tips div p:first-child {
	width: 30%;
	float: left;
	padding-top: 20px;
	height: 70px;
	text-align: center;
	font-size: 1.2em;
	background-color: rgb(30, 30, 90);
	color: silver;
}

#tips div:first-child + div p:last-child {
	padding-top: 20px;
	height: 70px;
}

#tips div p:last-child {
	width: 70%;
	float: right;
	text-align: center;
	color: black;
}

#tips div:first-child {
	border-radius: 5px 0 0 5px;
}

#tips div:first-child p {
	padding-top: 20px;
	height: 70px;
}

#tips div:last-child {
	border-radius: 0 5px 5px 0;
}

#tips div:last-child p {
	padding-top: 20px;
	height: 70px;
}

#wrapper {
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	height: 485px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

#menu {
	width: 100%;
	margin: 10px auto 0 auto;
	padding-left: 0;
	overflow: hidden;
}

#menu li {
	float: left;
	width: 50%;
	list-style: none;
	text-align: center;
}

#menu li a {
	display: block;
	padding: 8px 0;
	text-decoration: none;
	font-size: 1.3em;
}

#menu li:first-child a {
	background-color: silver;
	color: black;
	border-radius: 10px 0 0 0;
}

#menu li:last-child a {
	background-color: black;
	color: white;
	border-radius: 0 10px 0 0;
}

#menu li:last-child a:hover {
	background-color: silver;
	color: black;
	cursor: pointer;
}

#menu li:first-child a:hover {
	background-color: black;
	color: white;
	cursor: pointer;
} 

#result {
	width: 100%;
	margin: 0 auto;
	height: 435px;
	background-color: rgb(30, 30, 90);
	border-radius: 0 0 10px 10px;
}

.list {
	height: 435px;
	border-top: 1px solid white;
}

#list {
	float: left;
	width: 49.5%;
	border-right: 4px solid silver;
	font-size: 1.5em;
	color: white;
	overflow: hidden;
}

#listhtml {
	float: right;
	width: 49.5%;
	border-left: 4px solid black;
	color: white;
	overflow: auto;
}

form {
	width: 90%;
	padding: 5px;
	margin: 10px auto auto auto;
	background-color: rgb(30, 30, 90);
	color: white;
	overflow: auto;
}

form textarea {
	width: 95%;
	font-size: 1.2em;
	background-color: inherit;
	color: white;
	height: 350px;
	border: none;
}

.cont {
	margin: 10px 5px 5px 5px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}

pre {
	padding: 0;
	margin: 0;
}

pre ul {
	margin: 0;
}