body {
  background-color: #000000;
}

.section {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* --- tips section --- */
.tips {
  display: flex;
}

.tips > div {
  display: flex;
  flex: 1;
  height: 100px;
  background-color: #fff;
}

.tips > div:first-child {
  border-radius: 5px 0 0 5px;
}

.tips > div:last-child {
  border-radius: 0 5px 5px 0;
}

.tips p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  margin: 5px 0;
  text-align: center;
  background-color: silver;
}

.tips p:first-child {
  width: 30%;
  font-size: 1.2em;
  background-color: #1e1e5a;
  color: silver;
}

.tips p:last-child {
  width: 70%;
  padding: 0 10px;
  font-size: 0.96em;  
  color: #4B4B4B;
}

/* --- wrapper section --- */
.wrapper {
  height: 485px;
}

/* --- menu --- */
.menu {
  display: flex;
  margin: 10px auto 0 auto;
  padding-left: 0;
}

.menu li {
  flex: 1;
  list-style: none;
  text-align: center;
}

.menu a {
  display: block;
  padding: 8px 0;
  border-radius: 10px 0 0 0;
  font-size: 1.3em;
  text-decoration: none;
  background-color: silver;
  color: black;
  cursor: pointer;
}

.menu a:hover {
  background-color: black;
  color: white;
}

.menu li + li a {
  border-radius: 0 10px 0 0;
  background-color: black;
  color: white;
}

.menu li + li a:hover {
  background-color: silver;
  color: black;
}

/* --- result container --- */
.result {
  display: flex;
}

.result > div {
  flex: 1;
  height: 435px;
  border-top: 1px solid white;
  background-color: #1e1e5a;
  color: white;
}

/* --- list --- */
.list {
  border-right: 4px solid silver;
  border-radius: 0 0 0 5px;
  font-size: 1.5em;
  overflow: auto;
}

.list form {
  height: 90%;
  padding: 15px;
  margin: 10px auto auto auto;
}

.list form textarea {
  height: 100%;
  width: 96%;    
  border: none;
  outline: 1px dashed #3B3BAF;
  font-size: 0.9em;
  background-color: inherit;
  color: white;
}

/* --- list html --- */
.listhtml {
  border-left: 4px solid black;
  border-radius: 0 0 5px 0;
}