body {
  background-color: #000000;
}

/* --- tips section --- */
.tips {
  display: flex;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.tips > div {
  display: flex;
  flex: 1;
  height: 100px;
  background-color: #fff;
}

.tips > div:first-child {
  border-radius: 5px 0 0 5px;
}

.tips > div:last-child {
  border-radius: 0 5px 5px 0;
}

.tips p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  margin: 5px 0;
  text-align: center;
  background-color: silver;
}

.tips p:first-child {
  width: 30%;
  font-size: 1.2em;
  background-color: #1e1e5a;
  color: silver;
}

.tips p:last-child {
  width: 70%;
  padding: 0 10px;
  font-size: 0.96em;  
  color: black;
}





#wrapper {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  height: 485px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#menu {
  width: 100%;
  margin: 10px auto 0 auto;
  padding-left: 0;
  overflow: hidden;
}
#menu li {
  float: left;
  width: 50%;
  list-style: none;
  text-align: center;
}
#menu li a {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  font-size: 1.3em;
  background-color: silver;
  color: black;
  border-radius: 10px 0 0 0;
}
#menu li a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#menu li + li a {
  background-color: black;
  color: white;
  border-radius: 0 10px 0 0;
}
#menu li + li a:hover {
  background-color: silver;
  color: black;
  cursor: pointer;
}
#rezult {
  width: 100%;
  margin: 0 auto;
  height: 435px;
  background-color: #1e1e5a;
  border-radius: 0 0 10px 10px;
}
#list {
  height: 435px;
  border-top: 1px solid white;
  float: left;
  background-color: #1e1e5a;
  width: 49.5%;
  border-right: 4px solid silver;
  font-size: 1.5em;
  color: white;
  overflow: hidden;
}
#list form {
  width: 90%;
  padding: 5px;
  margin: 10px auto auto auto;
  background-color: #1e1e5a;
  color: white;
  overflow: auto;
}
#list form textarea {
  width: 95%;
  font-size: 1.2em;
  background-color: inherit;
  color: white;
  height: 350px;
  border: none;
}
#listhtml {
  float: right;
  background-color: #1e1e5a;
  width: 49.5%;
  border-left: 4px solid black;
  color: white;
  overflow: auto;
}
#listhtml pre {
  padding: 0;
  margin: 0;
}
#listhtml pre ul {
  margin: 0;
}
